fastapi
uvicorn
httpx
pydantic
pydantic-settings
python-dotenv
aiolimiter
beautifulsoup4
fake-useragent
pytest
pytest-asyncio
pytest-mock
pypdf
langchain-text-splitters
lxml
google-generativeai
chromadb
python-dotenv